<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rest.mapper.ReviewMapper">


	<resultMap id="restMap" type="RestaurantVO">

		<id property="id" column="resId" />
		<result property="name" column="name" />
		<result property="address" column="address" />
		<result property="createdAt" column="r_created_At" />
		<result property="updatedAt" column="r_updated_At" />
		<collection property="reviews" resultMap="reviewMap"></collection>
	</resultMap>

	<resultMap id="reviewMap" type="ReviewVO">
		<id property="id" column="reId" />
		<result property="restaurantId" column="re_restruant_id" />
		<result property="content" column="content" />
		<result property="score" column="score" />
		<result property="createdAt" column="re_created_At" />
	</resultMap>

	
	<insert id="insertReview" parameterType="ReviewFormVO">
		insert into review
		VALUES(REV_SEQ.nextval,#{restaurantId},#{content},#{score},sysdate)
	</insert>
	<delete id="deleteReview" parameterType="long">
		delete from review where id=#{id}
	</delete>

	<select id="selectAvgScore" resultType="float">
		select avg(score) from review where restaurant_id = #{id}
	</select>

	<select id="selectRestAndReview" resultMap="restMap" parameterType="PageDTO"> 
	<![CDATA[
SELECT *
FROM (
    SELECT ROWNUM rw, f.* 
    FROM (
        SELECT r.id AS resId, 
               r.name AS name, 
               r.address AS address, 
               r.created_at AS r_created_at, 
               r.updated_at AS r_updated_at,
               re.id AS reId, 
               re.content AS content, 
               re.score AS score, 
               re.created_at AS re_created_at 
        FROM restaurant r
        JOIN review re ON r.id = re.restaurant_id
        WHERE r.id = #{restId}
    ) f 
    WHERE ROWNUM <= #{offset} * #{limit}
) r
WHERE r.rw > (#{offset} - 1) * #{limit}
]]>


</select>

</mapper>




